header {
  margin: 30px 0;
}
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
#project-description-container {
  margin: 0 50px;
}
#project-description-container header h1 {
  font-size: 25px;
  margin-bottom: 90px;
}
#project-description-container section table td:first-of-type {
  padding-right: 15px;
}
#project-description-container section table td:last-of-type {
  padding-left: 15px;
}
.no-padding {
  padding: 0;
}
.serie-credits {
  font-size: 11px;
  text-transform: uppercase;
  text-align: left;
  margin-right: 30px;
}
.serie-credits > div {
  display: flex;
  height: 100%;
}
.serie-credits > div > div {
  display: inline-block;
  align-self: flex-end;
}
.serie-credits > div > div .credits-border {
  width: 30px;
  background-color: black;
  height: 3px;
}
.serie-credits > div > div .credits-border:first-of-type {
  margin-bottom: 10px;
}
.serie-credits > div > div .credits-border:last-of-type {
  margin-top: 10px;
}
.contact-page table td {
  vertical-align: top;
  padding-left: 10px;
}
.contact-page table td header {
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.contact-page > table > tbody > tr > td {
  padding-left: 10px;
}