@model SterreFenna.Business.Projects.Views.ProjectDetailsView

<form class="form" action="/Admin/Project/SubmitEdit" method="post">
    <div class="row">
        <h2>Project bewerken</h2>
        <input type="hidden" value="@Model.Id" name="ProjectId"/>
        <div class="form-group col-sm-4">
            <label for="name">Naam</label>
            <input type="text" class="form-control" name="Name" id="name" value="@Model.Name" placeholder="Naam van nieuw project">
        </div>
        <div class="form-group col-sm-4">
            <label for="publicationDate">Publicatiedatum</label>
            <input type="text" class="form-control" name="publicationDate" id="publicationDate" value="@Model.PublicationDate" placeholder="Datum van publicatie">
        </div>
        <div class="col-sm-4">
            <button type="submit"
                    class="btn btn-primary pull-right"
                    style="margin-top: 24px;">
                Bijwerken
            </button>
        </div>
    </div>
</form>

