<form class="form" action="/Admin/Project/SubmitNew" method="post">
    <div class="row">
        <h2>Nieuw project aanmaken</h2>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="name">Naam</label>
                <input type="text" class="form-control" name="Name" id="name" placeholder="Naam van nieuw project">
            </div>
            <div class="col-sm-4">
                <button type="submit"
                        class="btn btn-primary pull-right"
                        style="margin-top: 24px;">
                    Aanmaken
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="name">Beschrijving</label>
                <textarea name="description" class="form-control" id="description" cols="50" rows="7"></textarea>
            </div>
        </div>
    </div>
</form>

