@model SterreFenna.Business.Series.Views.SerieDetailView

<!-- Swiper -->
<!-- http://idangero.us/swiper/demos/#.V0nq9ZF97Dc -->

<div class="swiper-container">
    <div class="swiper-wrapper">
        @foreach (var item in Model.SerieItems.OrderBy(s => s.Rank))
        {
            <div class="swiper-slide">
                <img src="@item.Location" />
            </div>
        }
        @if (!Model.Credits.IsEmpty())
        {
            <div class="swiper-slide serie-credits">
                <div>
                    <div>
                        <div class="credits-border"></div>
                        <span>
                            @Html.Raw(Model.Credits.Replace("\r\n", "<br/>"))
                        </span>
                        <div class="credits-border"></div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<div class="socialmediabar">
    <div class="title">FOLLOW ME</div>
    <a href="https://www.instagram.com/sterrefenna/" target="_blank">
        <img src="~/Content/images/icon-instagram.PNG" class="space-right-30" />
    </a>
    <a href="#" target="_blank">
        <img src="~/Content/images/icon-facebook.PNG" />
    </a>
</div>

@section scripts{
    <script type="text/javascript">
        var totalItems = @Model.SerieItems.Count();
        
        $(document).ready(function () {
            initializeSwiper(totalItems);
        });

        //$(document).ready(function () {
        //    //initialize swiper when document ready
        //    var swiper = new Swiper('.swiper-container', {
        //        pagination: '.swiper-pagination',
        //        slidesPerView: 'auto',
        //        paginationClickable: true,
        //        spaceBetween: 30,
        //        centeredSlides: totalItems > 3 ? false : true,
        //        freeMode: true,
        //        onInit: function(swiper){
        //            if(totalItems > 1 && totalItems <= 3){
        //                swiper.slideTo(1);
        //            }
        //        }
        //    });
        //});
    </script>
}