
@{
    Layout = "~/Views/Errors/ErrorsLayout.cshtml";
}

<div style="text-align:center;margin-top:100px;">
    <p>The requested page doesn't exists.</p>

    <p>Click <a href="/">here</a> to return to the site.</p>
</div>
