@model IEnumerable<SterreFenna.Business.Series.Views.ProjectListOverviewItem>

<form class="form" id="addGalleryForm" enctype="multipart/form-data">
    <div class="row">
        <h2>Nieuwe serie aanmaken</h2>
        <div class="form-group col-sm-4">
            <label for="name">Naam</label>
            <input type="text" class="form-control" id="name" placeholder="Naam van nieuwe serie">
        </div>
        <div class="form-group col-sm-4">
            <label for="publicationDate">Publicatiedatum</label>
            <input type="text" class="form-control" id="publicationDate" placeholder="Datum van publicatie">
        </div>
        <div class="col-sm-4">
            <span id="loader" class="pull-right">
                <img src="~/Content/images/ajax-loader.gif" />
            </span>
            <button type="button"
                    class="btn btn-primary pull-right"
                    style="margin-top: 24px;"
                    onclick="SerieController.submitAddSerie()"
                    id="btnCreate">
                Aanmaken
            </button>
        </div>
    </div>
    <div class="row">
        <h2>Project</h2>
        <div class="form-group col-sm-4">
            <label for="newProjectName">Naam</label>
            <input type="text" class="form-control" id="newProjectName" placeholder="Naam van nieuw project">
        </div>
        <div class="form-group col-sm-4">
            <label for="publicationDate">Onderbrengen aan bestaand project</label>
            <select class="form-control" id="projectId" name="projectId" onchange="SerieController.onProjectDropdownChanged(this)">
                <option value="-1">Niet onderbrengen aan bestaand project</option>
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
</form>
<div class="photo-container">
    <h3>Foto's</h3>
    <div class="dropzone-container">
        <form action="/Admin/Serie/SubmitNew"
              method="post"
              class="dropzone"
              id="foo-bar">
            <div class="dz-message" data-dz-message><span>Klik of sleep hier om foto's toe te voegen</span></div>
        </form>
    </div>
    <div class="uploaded-pics-container clearfix">
        <ul id="sortable"></ul>
    </div>
</div>

@section scripts{
<script src="~/Areas/Admin/Scripts/Series/SerieController.js"></script>
<script src="~/Areas/Admin/Scripts/Series/SerieFormElements.js"></script>
<script src="~/Areas/Admin/Scripts/Series/SerieValidator.js"></script>
<script src="~/Areas/Admin/Scripts/Shared/ValidationResult.js"></script>

    <script>
        
        SerieController.init();

    </script>
}