#menu-container {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  top: 0;
  height: 25px;
  margin: 10px 30px 80px 30px;
}
#menu-container a,
#menu-container a:link,
#menu-container a:visited,
#menu-container a:hover,
#menu-container a:active {
  color: #000;
  text-decoration: none;
}
#menu-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#menu-container ul li {
  display: block;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu-container ul li:not(:last-of-type) {
  padding-right: 50px;
}
#menu-container #main-menu li:not(.filler) {
  float: left;
}
#menu-container #main-menu li:not(.filler) ul {
  display: none;
}
#menu-container #main-menu > li {
  position: relative;
  background-image: url('images/menu-line.png');
  background-position: bottom;
  background-repeat: repeat-x;
  cursor: pointer;
}
#menu-container #main-menu > li.active {
  font-weight: bold;
}
#menu-container #main-menu > li:hover:not(.no-sub-items),
#menu-container #main-menu > li.active:not(.no-sub-items) {
  border-bottom: none;
  background-image: none;
}
#menu-container #main-menu > li:hover:not(.no-sub-items) ul,
#menu-container #main-menu > li.active:not(.no-sub-items) ul {
  position: absolute;
  left: 0;
  width: 830px;
  display: block;
  margin-top: 8px;
  background-image: url('images/menu-line.png');
  background-position: top;
  background-repeat: repeat-x;
}
#menu-container #main-menu > li:hover:not(.no-sub-items) ul li,
#menu-container #main-menu > li.active:not(.no-sub-items) ul li {
  padding-top: 20px;
  font-weight: initial;
}
#menu-container #main-menu > li:hover:not(.no-sub-items) ul li a,
#menu-container #main-menu > li.active:not(.no-sub-items) ul li a {
  display: block;
}
#menu-container #main-menu > li:hover:not(.no-sub-items) ul li a.active,
#menu-container #main-menu > li.active:not(.no-sub-items) ul li a.active {
  padding-bottom: 10px;
  font-weight: bold;
  background-image: url('images/menu-line.png');
  background-position: bottom;
  background-repeat: repeat-x;
}
#menu-container #main-menu > li:hover:not(.no-sub-items) ul li:first-of-type,
#menu-container #main-menu > li.active:not(.no-sub-items) ul li:first-of-type {
  background-image: url('images/chevron-down-24.png');
  background-repeat: no-repeat;
  background-position: top left;
}
#menu-container #main-menu li.filler {
  overflow: hidden;
  float: none;
  position: relative;
  width: auto;
  display: block;
  background-image: url('images/menu-line.png');
  background-position: bottom;
  background-repeat: repeat-x;
  cursor: default;
}
#menu-container #main-menu li.filler div {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu-container #contact-menu {
  right: 0;
}
