@model IEnumerable<SterreFenna.Business.Series.Views.SerieOverviewItem>

<h2>Series</h2>

<div class="clearfix">
    <div class="serie-block add pull-left">
        <a href="/Admin/Serie/New">
            <i class="fa fa-plus-circle"></i>
        </a>
    </div>

    @foreach (var serie in Model)
    {
        <div class="serie-block pull-left">
            <a href="/Admin/Serie/Edit/@serie.Id">
                <img src="@serie.ImageLocation" />
                <div>
                    <div>@serie.Name</div>
                    <div>
                        <span class="badge alert-info"><i class="fa fa-file-image-o"></i> @serie.TotalItems</span>
                        <br />
                        <span class="badge alert-success"><i class="fa fa-fire"></i> @serie.TotalMarkedItems</span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>