@model IEnumerable<SterreFenna.Business.Series.Views.SerieOverviewItem>

<h2>Series</h2>

<div class="clearfix">
    <div class="serie-block add pull-left">
        <a href="/Admin/Serie/New">
            <i class="fa fa-plus-circle"></i>
        </a>
    </div>

    @foreach (var serie in Model)
    {
        <div class="serie-block pull-left">
            <a href="/Admin/Serie/Edit/@serie.Id">
                <div>
                    <div class="title">@serie.Name</div>
                    <div class="content">
                        <img src="@serie.ImageLocation" />
                        <div class="info-bar">
                            <span class="badge alert-info" title="Aantal foto's in serie'">
                                <i class="fa fa-file-image-o"></i> 
                                @serie.TotalItems
                            </span>
                            <span class="badge alert-success" title="Aantal op foto's op front page">
                                <i class="fa fa-fire"></i> 
                                @serie.TotalMarkedItems
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>