@model SterreFenna.Business.Contacts.Views.ContactView

<form action="/Admin/Contact/Edit" method="post">
    <div class="clearfix">
        <h2>
            Contactpagina
            <span class="pull-right">
                <span id="projectOrderButtonsBox">
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                </span>
            </span>
        </h2>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <h3>Contact</h3>
            <div name="content" class="form-control contact-content" id="contactMe" style="height:200px;">@Html.Raw(Model.ContactMe)</div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <h3>About me</h3>
            <div name="content" class="form-control contact-content" id="aboutMe" style="height:200px;">@Html.Raw(Model.AboutMe)</div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <h3>Education</h3>
            <div name="content" class="form-control contact-content" id="education" style="height:200px;">@Html.Raw(Model.Education)</div>
        </div>
    </div>
</form>

@section scripts{

    <script src="~/Areas/Admin/Scripts/Contacts/ContactController.js"></script>

    <script>
        ContactController.init();
    </script>    
}