@model SterreFenna.Business.Contacts.Views.ContactView

<div class="contact-page clearfix" style="white-space:nowrap;overflow-y:hidden;overflow-x:scroll; padding-left:30px;padding-right:30px;">
    <table>
        <tr>
            <td>
                @Html.Raw(Model.ContactMe)
            </td>
        </tr>
    </table>
</div>